@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }

  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background: rgba(37, 143, 204, 0.116);
background: linear-gradient(to bottom right, rgba(37, 143, 204, 0.253) 30%, rgba(37, 143, 204, 0.301) 43%, rgba(52, 221, 193, 0.301) 92%)
!important;
}